<header class="site-navbar " role="banner">
 <div class="container">
    <div class="d-flex align-items-center">
      <div class="assets/site-logo">
        <a href="index.html">
          <img src="assets/images/logo.png" alt="Logo">
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
           <li class="active"><a routerLink='home' class="nav-link">Today Is  {{dateNow | date: ' yyy//mm//dd hh:mm:ss'}}</a></li>
            <li><a routerLink='matches' class="nav-link">Matches</a></li>
            <li><a routerLink='add-matches' class="nav-link">{{name | reverse}}</a></li>            
            <li><a routerLink='match' class="nav-link">Match</a></li>
            <li><a routerLink='admin' class="nav-link">Admin</a></li>
            <li><a routerLink='players' class="nav-link">players</a></li>
            <li><a routerLink='player' class="nav-link">player</a></li>
            <li><a routerLink='signup' class="nav-link">Singup</a></li>
            <li><a routerLink='login' class="nav-link">login</a></li>
            <li><a routerLink='contact' class="nav-link">Contact</a></li>
          </ul>
        </nav>

        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
            class="icon-menu h3 text-white"></span></a>
      </div>
    </div>
  </div>

</header>

