
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">{{users.userName}}</h1>
            </div>
        </div>
    </div>
 
<div class="card container" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{users.userName}}</li>
      <li class="list-group-item">{{users.age}}</li>
      <li class="list-group-item">{{users.team}}</li>
    </ul>
    <div class="card-footer">
        <button type="button" class="btn btn-danger"> Delete Match
        </button>
    </div>
  </div>